.mobile-nav{
  position: absolute;
  text-align: center;
  width: 265px;
  padding: 1rem 1.5rem;
  background: var(--dark-violet);
  border-radius: 10px;
  color: white;
  font-weight: 700;
  top: 4.5rem;
  right: 1.7rem;
  z-index: 20;
}

.mobile-nav p{
  padding: .5rem 0;
}

.nav-links{
  border-bottom: 1px solid var(--grayish-violet);
}



